<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#2B415F">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#2B415F">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#2B415F">

    <title>新安財產基金 New Safety Property Fund SP</title>
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="keywords" content="新安財產基金,New Safety Property Fund">
    <meta name="description" content="New Safety Property Fund SP新安財產基金，提供安全投資管道，穩定獲利。專注於香港房地產借貸市場，透過有抵押品的低風險投資，為投資者創造穩定、安全的被動式收入。" />
    <meta name="author" content="CF & M.Y" />
    <meta name="copyright" content="Aquarius Protection Fund SPC-New Safety Property Fund SP ">
    <meta property="og:title" content="新安財產基金 New Safety Property Fund SP" />
    <meta property="og:url" content="index" />
    <meta property="og:site_name" content="新安財產基金 New Safety Property Fund SP" />
    <meta property="og:description" content="New Safety Property Fund SP新安財產基金，提供安全投資管道，穩定獲利。專注於香港房地產借貸市場，透過有抵押品的低風險投資，為投資者創造穩定、安全的被動式收入。" />
    <meta property="og:keywords" content="新安財產基金,New Safety Property Fund">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Google Webfonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,600,900|Noto+Sans+TC:300,500,700&display=swap" rel="stylesheet">
    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- loaders -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.min.css">
    <!-- Slick -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Content/stylesheets/index.css">


</head>

<body>
    <div id="page">
        <header id="header" role="banner">
            <nav class="navbar navbar-expand-md align-items-center justify-content-between">
                <div class="container">
                    <div class="logo">
                        <a href="/CH/index">
                            @*<img class="" src="images/logo.svg" alt="">*@
                            <img class="" src="~/Content/files/Image/logo.png" alt="">
                        </a>
                    </div>
                    <!-- 右上側工具列 -->
                    <div class="navbar-collapse offcanvas-collapse">

                        <ul class="navbar-nav align-items-center menus ml-auto">
                            <!-- <li class="sub-menu-parent">
                                <a href="#" class="nav-link">
                                    關於我們
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">公司簡介</a>
                                    </li>
                                    <li>
                                        <a href="#">合規監管</a>
                                    </li>
                                    <li>
                                        <a href="#">我們的優勢</a>
                                    </li>
                                    <li>
                                        <a href="#">法律文件</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu-parent">
                                <a href="#" class="nav-link">
                                    <span>客戶專區</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">直接導入</a>
                                    </li>
                                    <li>
                                        <a href="#">登入頁面</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu-parent">
                                <a href="#" class="nav-link">
                                    <span>客服經理專區</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">直接導入</a>
                                    </li>
                                    <li>
                                        <a href="login.html">登入頁面</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu-parent">
                                <a href="#" class="nav-link">
                                    <span>立即申購</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">直接導入</a>
                                    </li>
                                    <li>
                                        <a href="#">資料Key in頁面</a>
                                    </li>
                                </ul>
                            </li> -->
                            <li class="href" style="user-select: auto;">
                                <a href="#intro" class="nav-link">
                                    <span>關於我們</span>
                                </a>
                            </li>
                            <li class="href" style="user-select: auto;">
                                <a href="#rule" class="nav-link">
                                    <span>合規監管</span>
                                </a>
                            </li>
                            <li class="href" style="user-select: auto;">
                                <a href="#strength" class="nav-link">
                                    <span>優勢</span>
                                </a>
                            </li>
                            <li class="sub-menu-parent">
                                <a href="#" class="nav-link">
                                    <span>立即申購</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="/CH/Purchase">我要申購</a>
                                    </li>
                                    <li>
                                        <a href="/CH/PurchaseStep">申購步驟</a>
                                    </li>
                                    <li>
                                        <a href="/CH/PurchasePDF">製作我的申購書</a>
                                    </li>
                                    <li>
                                        <a href="/CH/PurchaseCustom">應備文件</a>
                                    </li>
                                    <li>
                                        <a href="/CH/pur_download">相關文件下載</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/CH/Contact" class="nav-link">
                                    <span>聯絡我們</span>
                                </a>
                            </li>
                            <li class="sub-menu-parent">
                                <a href="#" class="nav-link">
                                    <span class="txt">會員登入</span>
                                    <span class="iconify" data-icon="ion:person-circle-outline" data-inline="false"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="/CH/ConLogin">登入頁面</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                    <div class="menu">
                        <div class="burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div id="main" class="index">
            <div class="slider slider-banner wow fadeIn" data-wow-duration="2s">
                <div class="img lazyload" style="background-image: url(/Content/files/Image/about/footer.jpg);">
                    <div class="caption">
                        <div class="title">
                            <h2>低風險基金</h2>
                            <h3 class="gray">年收益可高達約6%</h3>
                        </div>
                        <p>穩定、高收益回報</p>
                    </div>
                </div>
                <div class="img lazyload" style="background-image: url(/Content/files/Image/about/about2.jpg);">
                    <div class="caption">
                        <div class="title">
                            <h2>被動式收入</h2>
                            <h3 class="gray">年收益可高達約6％</h3>
                        </div>
                        <p>穩定、安全的被動式收入</p>
                    </div>
                </div>
            </div>
            <section id="intro" class="skew wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
                <div class="container-fluid">
                    <div class="row no-gutters justify-content-lg-between">
                        <div class="col-lg-6 text">
                            <h3>關於我們</h3>
                            <p>
                                寶瓶保障基金獨立投資組合公司-新安財產基金獨立投資組合(Aquarius Protection Fund SPC-New Safety Property Fund SP)投資標的專注於安全的房地產抵押貸款業務，為投資者提供穩定、高收益的方案。透過物業抵押及嚴謹的風控流程，讓投資者的收益放大，風險控制最低，投資者輕鬆賺取收益回報，年收益可達約 6%。
                            </p>
                            <p>
                                新安財產基金提供安全投資管道，是一檔安全可靠的低風險基金，為投資者創造穩定、安全的被動式收入，每季派發收益至客戶帳戶，12個月後約滿，投資者可選擇提取資金或再續投資，彈性靈活。
                            </p>
                        </div>
                        <div class="offset-lg-1 col-lg-5 img lazyload" style="background-image: url(/Content/files/Image/about/about.jpg);"></div>
                    </div>
                </div>
            </section>
            <section id="rule" class="skew wow fadeInUp" data-wow-duration="1s">
                <div class="container-fluid">
                    <div class="row no-gutters justify-content-lg-between">
                        <div class="col-lg-6 text">
                            <h3>合規監管</h3>
                            <p>
                                本基金(Aquarius Protection Fund
                                SPC)依開曼群島金融管理局共同基金法第4(1)條規定(b)部分註冊，因此，本基金受開曼群島共同基金法監管。根據開曼群島法律註冊成立，以獨立投資組合公司形式註冊之責任豁免有限公司，註冊編號為OG-296076。
                            </p>
                            <p>
                                每個會計年度結束時受簽證會計師審核帳務。作為一個受監管的共同基金，本基金須於每個會計年度結束前六個月內，提交本基金經審計的財務報表之副本予英國特許管理會計師公會。
                            </p>
                            <p>
                                身為受監管之共同基金，本基金受開曼群島金融管理局(Cayman Islands Monetary Authority ;
                                CIMA)之監督。CIMA得隨時指示本基金讓核准會計師審計帳戶並在指定時間內送交開曼群島金融管理局。如未能遵守CIMA監管要求，將面臨罰款。當特定事件發生時，CIMA擁有可採取相對應行動之權力。
                            </p>
                        </div>
                        <div class="offset-lg-1 col-lg-5 img sp lazyload" style="background-image: url(/Content/files/Image/about/about2.jpg);"></div>
                        <div class="col-lg-6 text pt-3">
                            <p>本基金遵循開曼共同基金法，依據共同基金法設立的基金須符合以下要求:</p>
                            <ul>
                                <li>
                                    <p>
                                        必須提供公開說明書讓投資者審閱，說明重大影響、基金權益計算及投資人權利規範及限制。於CIMA註冊登記，除須準備公開說明書外，依據不同類型基金檢附不同申請表格，相關內容有異動時亦須在規定期間內更新；
                                    </p>
                                </li>
                                <li>
                                    <p>所有在開曼註冊的監管基金，每年度必須提供會計師(須為開曼金管局核准之當地會計師)簽證報告，並且向開曼金管局申報；</p>
                                </li>
                                <li>
                                    <p>每檔基金設有獨立保管帳戶，落實資產獨立的執行。因此，申購基金時的匯款帳戶應是以該基金為名義，而非匯入基金公司或保管銀行，更非任何個人或公司的帳戶。</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section id="strength" class="skew wow fadeInUp" data-wow-duration="2s">
                <div class="container-fluid">
                    <div class="row no-gutters justify-content-lg-between">
                        <div class="col-lg-6 text">
                            <h3>優勢</h3>
                            <p>
                                開曼群島目前在世界上是僅次與紐約、倫敦、東京和香港的第五大金融中心，效率、透明、成熟的金融法規，已將近100年的悠久歷史。法律原則遵循英美法體系，司法先例與判例豐富，具備成熟的監管機制，同時擁有為數眾多的法律、會計人才，以及專業服務機構。
                            </p>
                            <p>
                                此外，開曼群島隸屬英國，歷史悠久、政治穩定，無政權更迭的顧慮，不存在政治風險，保障投資者的資金安全。本基金受到開曼金管局CIMA之嚴格監管，以保障投資人的利益。
                            </p>
                            <p>新安財產基金懂您投資基金的顧慮，有別於其他基金投資報酬收取高額的費用而吃掉獲利，本基金為所有客戶著想，不收取申購費、績效費。</p>
                        </div>
                        <div class="offset-lg-1 col-lg-5 img sp lazyload" style="background-image: url(/Content/files/Image/about/about3.jpg);"></div>
                    </div>
                    <div class="row justify-content-between mt-4">
                        <div class="col-lg-3 col-6 wow fadeInRight" data-wow-duration="2s" data-wow-delay="1s">
                            <div class="circle">
                                <div class="txt">
                                    <h6>Stable</h6>
                                    <span>穩定的收益</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 wow fadeInRight" data-wow-duration="2s" data-wow-delay="1.5s">
                            <div class="circle">
                                <div class="txt">
                                    <h6>Safe</h6>
                                    <span>安全的投資標的</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 wow fadeInRight" data-wow-duration="2s" data-wow-delay="2s">
                            <div class="circle">
                                <div class="txt">
                                    <h6>Reliable</h6>
                                    <span>可信賴的團隊</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 wow fadeInRight" data-wow-duration="2s" data-wow-delay="2.5s">
                            <div class="circle">
                                <div class="txt">
                                    <h6>Astute</h6>
                                    <span>睿智的資產配置</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer id="footer">
            <section id="info">
                <div class="container-fluid">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-7">
                            <p>
                                <small>
                                    Aquarius Protection Fund SPC-New Safety Property Fund SP provides general advice only that does not
                                    take into account financial situation, needs or individual investment objectives and it is
                                    recommended that you seek independent advice as required. The information contained here is general
                                    in nature, provided without reference to your past, present or future financial situation. These
                                    products may not be suitable for all investors. Aquarius Protection Fund SPC-New Safety Property
                                    Fund SP is not responsible for the profit or loss of the fund, nor does it guarantee the minimum
                                    income. This information is general in nature and does not constitute advice or a recommendation to
                                    act upon the information or an offer.
                                </small>
                            </p>
                        </div>
                        <div class="col-md-5">
                            <div class="logo">
                                <a href="/CH/index">
                                    <img src="~/Content/files/Image/logo-f.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="icons">
                <div class="container-fluid">
                    <span class="copyright">
                        &copy; 2020 Aquarius Protection Fund SPC-New Safety Property Fund SP <span>All rights reserved</span>
                    </span>
                </div>
            </div>
        </footer>
    </div>
    <ul class="side-btns">
        <li class="gototop js-top">
            <a href="#" class="js-gotop" title="回上層">
                <span class="iconify" data-icon="fa-solid:angle-up" data-inline="false"></span>
                <span>TOP</span>
            </a>
        </li>
    </ul>
    <div class="overlay"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- loaders -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.css.min.js"></script>
    <!-- iconify -->
    <script src="https://code.iconify.design/1/1.0.0-rc6/iconify.min.js"></script>
    <!-- Wow.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <!-- Slick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="~/Content/js/jquery.ellipsis-1.1.1.min.js"></script>
    <!-- Main JS -->
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/index.js"></script>

    <!-- sweetalert -->
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Styles/sweetalert.css" rel="stylesheet" />
</body>
</html>
