@{
    Layout = "~/Views/Shared/BackEndLayout.cshtml";
}
<div id="maindiv" class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/CH/index">首頁</a>
        </li>
        <li class="breadcrumb-item">客戶</li>
        <li class="breadcrumb-item">查詢功能</li>
        <li class="breadcrumb-item active">
            <a href="#">客戶基本資料</a>
        </li>
    </ul>
    <section id="title">
        <div class="title-set">
            <h4 class="title">客戶基本資料</h4>
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <form id="" class="search_form">
                        <div class="form-group au-form row">
                            <label for="txtCli_NO" class="col-md-3 col-form-label">客戶編號</label>
                            <div class="col-md-9">
                                <input type="text" class="" id="txtCli_NO">
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="txtCli_Name" class="col-md-3 col-form-label">客戶姓名</label>
                            <div class="col-md-9">
                                <input type="text" class="" id="txtCli_Name">
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="button" id="submit" class="btn btn-sm btn-primary" onclick="clicktoSearch()" value="查詢"></li>
                            <li><input type="button" id="btnCertiFileUpload" class="btn btn-sm btn-primary" onclick="openFileUpload('myModalForCertiFileUpload')" style="display:none" value="憑證發送檔上傳"></li>
                            <li><input type="button" id="btnCertiZipUpload" class="btn btn-sm btn-primary" onclick="openFileUpload('myModalForCertiZipUpload')" style="display:none" value="憑證壓縮檔上傳"></li>
                            <li><input type="button" id="btnCertiZipDownLoad" class="btn btn-sm btn-primary" onclick="openFileUpload('myModalForCertiZipDownLoad')" style="display:none" value="憑證壓縮檔下載"></li>
                        </ul>

                        @*<div class="text-center">
                            <input type="button" id="submit" class="btn btn-sm btn-primary" onclick="clicktoSearch()" value="查詢">
                            <input type="button" id="btnCertiFileUpload" class="btn btn-sm btn-primary" onclick="openFileUpload('myModalForCertiFileUpload')" style="display:none" value="憑證發送檔上傳">
                            <input type="button" id="btnCertiZipUpload" class="btn btn-sm btn-primary" onclick="openFileUpload('myModalForCertiZipUpload')" style="display:none" value="憑證壓縮檔上傳">
                            <input type="button" id="btnCertiZipDownLoad" class="btn btn-sm btn-primary" onclick="openFileUpload('myModalForCertiZipDownLoad')" style="display:none" value="憑證壓縮檔下載">
                        </div>*@
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="form">
        <div class="overflow">
            <table class="table table-bordered table-hover" id="theTable"></table>
        </div>
    </section>
    <div class="modal fade" id="myModalForEdit" role="dialog">
        <div class="modal-dialog sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        檢視編輯
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" title="關閉視窗">
                        <span class="iconify" data-icon="ion:ios-close" data-inline="false"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="" class="confirm" action="" method="POST" name="">
                        <div class="form-group au-form row">
                            <label for="txtCli_ChiName_Last" class="col-3 col-form-label">中文姓</label>
                            <div class="col-9">
                                <input type="text" id="txtCli_ChiName_Last" name="txtCli_ChiName_Last" required
                                       data-error="請填寫中文姓">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="txtCli_ChiName_First" class="col-3 col-form-label">中文名</label>
                            <div class="col-9">
                                <input type="text" id="txtCli_ChiName_First" name="txtCli_ChiName_First" required
                                       data-error="請填寫中文名">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="txtCli_EngName_Last" class="col-3 col-form-label">英文姓</label>
                            <div class="col-9">
                                <input type="text" id="txtCli_EngName_Last" name="txtCli_EngName_Last" required
                                       data-error="請填寫英文姓">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="txtCli_EngName_First" class="col-3 col-form-label">英文名</label>
                            <div class="col-9">
                                <input type="text" id="txtCli_EngName_First" name="txtCli_EngName_First" required
                                       data-error="請填寫英文名">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="sele_Gender" class="col-3 col-form-label">性別</label>
                            <div class="col-9 select-wrapper">
                                <span class="iconify" data-icon="fa-solid:caret-down" data-inline="false"></span>
                                <select name="sele_Gender" id="sele_Gender" class="br-cus" required>
                                    <option value="0">請選擇</option>
                                    <option value="M">男</option>
                                    <option value="F">女</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="txtCli_ID_Num" class="col-3 col-form-label">身份ID</label>
                            <div class="col-9">
                                <input type="text" id="txtCli_ID_Num" name="txtCli_ID_Num" required
                                       data-error="請填寫身份ID">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="txtCli_PassPort" class="col-3 col-form-label">護照號</label>
                            <div class="col-9">
                                <input type="text" id="txtCli_PassPort" name="txtCli_PassPort" required
                                       data-error="請填寫護照號">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="txtCli_BirthDay" class="col-3 col-form-label">出生日期</label>
                            <div class="col-9">
                                <input type="text" id="txtCli_BirthDay" name="txtCli_BirthDay" required
                                       data-error="請選擇出生日期">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="sele_Census_Country" class="col-3 col-form-label">國籍</label>
                            <div class="col-9 select-wrapper">
                                <span class="iconify" data-icon="fa-solid:caret-down" data-inline="false"></span>
                                <select name="sele_Census_Country" id="sele_Census_Country" class="br-cus" required>
                                    <option value="0" disabled selected>請選擇</option>
                                    <option value="TW">台灣</option>
                                    <option value="CHN">中國</option>
                                    <option value="HK">香港</option>
                                    <option value="MO">澳門</option>
                                    <option value="JP">日本</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="txtCli_Phone_site" class="col-3 col-form-label">行動電話</label>
                            <div class="col-4 underline">
                                <input type="text" id="txtCli_Phone_site" name="txtCli_Phone_site" readonly style="background-color:lightgray">
                            </div>
                            <div class="col-5">
                                <input type="text" id="txtCli_Phone" name="txtCli_Phone" required
                                       data-error="請填寫行動電話">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="txtCli_Email" class="col-3 col-form-label">Email</label>
                            <div class="col-9">
                                <input type="email" id="txtCli_Email" name="txtCli_Email"
                                       required data-error="請填寫Email">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="txtCli_Live_Addr" class="col-3 col-form-label">居住地址</label>
                            <div class="col-9">
                                <input type="text" id="txtCli_Live_Addr" name="txtCli_Live_Addr" required
                                       data-error="請填寫居住地址">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="txtCli_Eng_Addr" class="col-3 col-form-label">英文居住地址</label>
                            <div class="col-9">
                                <textarea rows="6" id="txtCli_Eng_Addr" name="txtCli_Eng_Addr" required
                                          data-error="請填寫英文居住地址"></textarea>
                                <div class="help-block with-errors mt-none"></div>
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="txtCli_PostalCode" class="col-3 col-form-label">郵政編號</label>
                            <div class="col-9">
                                <input type="text" id="txtCli_PostalCode" name="txtCli_PostalCode" required
                                       data-error="請填寫居住地址">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="button" id="close" class="btn btn-sm btn-light" data-dismiss="modal" value="取消">
                    <input type="button" id="btnSubmitEdit" class="btn btn-sm btn-primary" onclick="SubmitEdit()" value="確認修改">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalForCredentials" role="dialog">
        <div class="modal-dialog md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        證件資料
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" title="關閉視窗">
                        <span class="iconify" data-icon="ion:ios-close" data-inline="false"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="" class="" name="">
                        <div class="overflow">
                            <table class="table table-bordered table-hover" id="theTableCredentials"></table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="button" id="submit" class="btn btn-sm btn-primary" data-dismiss="modal" value="確認">
                </div>
                <a id="download_a"></a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalForUpload" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        檔案上傳
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" title="關閉視窗">
                        <span class="iconify" data-icon="ion:ios-close" data-inline="false"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="" class="" action="" method="POST" name="">
                        <div class="form-group au-form row">
                            <label for="fileUpload" class="col-3 col-form-label">檔案</label>
                            <div class="col-9">
                                <div class="file-wrapper">
                                    <div class="custom-file">
                                        <input type="file" name="upload" class="custom-file-input" id="fileUpload">
                                        <label class="custom-file-label" for="fileUpload" id="fileUploadName">選擇檔案</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="button" id="close" class="btn btn-sm btn-light" data-dismiss="modal" value="取消">
                    <input type="button" class="btn btn-sm btn-primary" id="btnSubmitUpload" onclick="SubmitUpload()" value="上傳">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalForCertiFileUpload" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        憑證發送檔上傳
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" title="關閉視窗">
                        <span class="iconify" data-icon="ion:ios-close" data-inline="false"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="" class="" action="" method="POST" name="">
                        <div class="form-group au-form row">
                            <label for="CertiFileUpload" class="col-3 col-form-label">檔案</label>
                            <div class="col-9">
                                <div class="file-wrapper">
                                    <div class="custom-file">
                                        <input type="file" name="CertiFileUpload" class="custom-file-input" id="CertiFileUpload">
                                        <label class="custom-file-label" for="CertiFileUpload" id="CertiUploadName">選擇檔案</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="button" id="close" class="btn btn-sm btn-light" data-dismiss="modal" value="取消">
                    <input type="button" class="btn btn-sm btn-primary" id="btnSubmitUpload" onclick="SubmitCertiFileUpload()" value="上傳">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalForCertiZipUpload" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        憑證壓縮檔上傳
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" title="關閉視窗">
                        <span class="iconify" data-icon="ion:ios-close" data-inline="false"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="" class="" action="" method="POST" name="">
                        <div class="form-group au-form row">
                            <label for="CertiZipUpload" class="col-3 col-form-label">檔案</label>
                            <div class="col-9">
                                <div class="file-wrapper">
                                    <div class="custom-file">
                                        <input type="file" name="CertiZipUpload" class="custom-file-input" id="CertiZipUpload">
                                        <label class="custom-file-label" for="CertiZipUpload" id="ZipUploadName">選擇檔案</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="button" id="close" class="btn btn-sm btn-light" data-dismiss="modal" value="取消">
                    <input type="button" class="btn btn-sm btn-primary" id="btnSubmitUpload" onclick="SubmitCertiZipUpload()" value="上傳">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalForCertiZipDownLoad" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        憑證壓縮檔下載
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" title="關閉視窗">
                        <span class="iconify" data-icon="ion:ios-close" data-inline="false"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="" class="confirm" action="" method="POST" name="">
                        <div class="form-group au-form row">
                            <label for="sele_Status" class="col-3 col-form-label">選擇檔案</label>
                            <div class="col-9 select-wrapper">
                                <span class="iconify" data-icon="fa-solid:caret-down" data-inline="false"></span>
                                <select name="sele_CertiZip" id="sele_CertiZip" class="br-cus" required></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="button" id="close" class="btn btn-sm btn-light" data-dismiss="modal" value="取消">
                    <input type="button" class="btn btn-sm btn-primary" onclick="SubmitCertiZipDownLoad()" value="下載">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //權限設定
    var userRole = readCookie('userRole');
    var userAccount = readCookie('userAccount');
    var IsAuth_2 = false;
    var IsAuth_3 = false;
    if (userAccount == 'BW') {
        IsAuth_2 = true;
        IsAuth_3 = true;
    } else if (userRole != null && userRole != '' && userRole != undefined) {
        var obj =
        {
            ROLE_ID: userRole
        }
        $.getJSON("/Account/GetRoleAuth", obj).done(function (data) {
            if (data[0].Auth_1 != "True") { //如果沒檢視權限 則頁面全隱藏
                $('#maindiv').hide();
                sweetAlert("您沒有檢視權限", "", "warning");
                return;
            }
            if (data[0].Auth_2 == "True")
                IsAuth_2 = true;
            if (data[0].Auth_3 == "True")
                IsAuth_3 = true;
        });
    }
    if (IsAuth_3 == true) {
        $('#btnCertiFileUpload').show();
        $('#btnCertiZipUpload').show();
        $('#btnCertiZipDownLoad').show();
    }

    //初始化設定---------------
    var Cli_ID;
    var CredentialID;
    var CredentialOriName;
    var CliROLE;
    Cli_ID = sessionStorage["Cli_ID"];

    if (Cli_ID != "" && Cli_ID != undefined) {
        $('#txtCli_NO').val(Cli_ID)
        $('#maindiv').jqLoading();
        loadData();
        $('#maindiv').jqLoading("destroy");
        sessionStorage.removeItem('Cli_ID')
    }
    $("#sele_Census_Country").change(function () {
        var t = $("option:selected", this).val();
        switch (t) {
            case 'TW':
                $("#txtCli_Phone_site").val('886');
                break;
            case 'HK':
                $("#txtCli_Phone_site").val('852');
                break;
            case 'MO':
                $("#txtCli_Phone_site").val('853');
                break;
            case 'CHN':
                $("#txtCli_Phone_site").val('86');
                break;
            case 'JP':
                $("#txtCli_Phone_site").val('81');
                break;
        }
    });
    $('#txtCli_BirthDay').datepicker({
        format: "yyyy/mm/dd",
        autoclose: true,
        //startDate: "today",
        todayHighlight: true,
        language: 'zh-TW'
    });
    //日期格式化
    $.date = function (dateObject) {
        var d = new Date(dateObject);
        var day = d.getDate();
        var month = d.getMonth() + 1;
        var year = d.getFullYear();
        if (day < 10) {
            day = "0" + day;
        }
        if (month < 10) {
            month = "0" + month;
        }
        var date = year + "/" + month + "/" + day;

        return date;
    };
    //--------------------------

    //查詢
    function clicktoSearch() {
        $('#maindiv').jqLoading();
        loadData();
        $('#maindiv').jqLoading("destroy");
    }
    function loadData() {
        var apiURL = "/CliInfo/GetCliInfo/";
        $("#theTable").bootstrapTable('destroy');
        $("#theTable").bootstrapTable({
            onClickRow: function (row, $data, field) {
                Cli_ID = $.trim(row.Cli_ID);
                CliROLE = $.trim(row.Cli_ROLE)
            },
            columns: [
                { field: 'Cli_ID', title: '編號', align: 'center', halign: 'center', visible: true, sortable: true },
                { field: 'ChiName', title: '中文名', align: 'center', halign: 'center', visible: true, sortable: true },
                { field: 'EngNAME', title: '英文名', align: 'center', halign: 'center', visible: true, sortable: true },
                { field: 'Con_ID', title: '所屬顧問', align: 'center', halign: 'center', visible: true, sortable: true },
                { field: 'ConChiName', title: '顧問名', align: 'center', halign: 'center', visible: true, sortable: true },
                {
                    field: 'Cli_Gender',
                    title: '性別',
                    formatter: function (value, row, index) {
                        switch (value) {
                            case 'F':
                                value = '女';
                                break;
                            case 'M':
                                value = '男';
                                break;
                            default:
                                value = '';
                                break;
                        }
                        return value
                    },
                    halign: 'center',
                    align: 'center',
                    visible: true
                },
                {
                    field: 'Phone',
                    title: '行動電話',
                    formatter: function (value, row, index) {
                        return '(' + $.trim(row.Cli_Phone_site) + ')' + $.trim(row.Cli_Phone)
                    },
                    halign: 'center',
                    align: 'center',
                    visible: true
                },
                { field: 'Cli_Email', title: 'Email', align: 'center', halign: 'center', visible: true, sortable: true },
                {
                    field: 'IsBuyCerti',
                    title: '憑證發送狀態',
                    formatter: function (value, row, index) {
                        if (value == "True")
                            return 'Ｖ'
                        else
                            return '未發送'
                    },
                    halign: 'center',
                    align: 'center',
                    visible: true
                },
                {
                    field: 'edit',
                    title: '動作',
                    formatter: function (value, row, index) {
                        var value = '<div class="btn-group"><button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">查看</button>'
                        value += '<div class="dropdown-menu">'
                        if (IsAuth_2 == true)
                            value += '<a class="dropdown-item" onclick="Edit(\'' + $.trim(row.Cli_ID) + '\')" >檢視編輯</a>'

                        value += '<a class="dropdown-item" onclick="Credentials(\'' + $.trim(row.Cli_ID) + '\',\'' + $.trim(row.Cli_ROLE) + '\')" >證件資料</a>'
                        value += '</div></div>'

                        return value


                        //var value = '<ul class="actions">';
                        //if (IsAuth_2 == true)
                        //    value += '<li><a class="btn btn-light" onclick="Edit(\'' + $.trim(row.Cli_ID) + '\')" >檢視編輯</a></li>'

                        //value += '<li><a class="btn btn-light" onclick="Credentials(\'' + $.trim(row.Cli_ID) + '\',\'' + $.trim(row.Cli_ROLE) + '\')" >證件資料</a></li></ul>'
                        //return value

                        //var value = '';
                        //if (IsAuth_2 == true)
                        //    value = '<button type = "button" onclick="Edit(\'' + $.trim(row.Cli_ID) + '\')"  class="btn btn-default btnDelay">檢視編輯</button >';
                        //value += '<button type = "button" onclick="Credentials(\'' + $.trim(row.Cli_ID) + '\',\'' + $.trim(row.Cli_ROLE) + '\')"  class="btn btn-default btnDelay">證件資料</button >';
                        //return value
                    },
                    halign: 'center',
                    align: 'center',
                    visible: true
                }
            ],
            classes: 'table table-striped table-hover ',
            url: apiURL,
            method: "Get",
            queryParams: { CliID: $('#txtCli_NO').val(), CliName: $('#txtCli_Name').val() },
            dataType: "json",
            contentType: 'application/json,charset=utf-8',
            toolbar: "#toolbar",
            uniqueId: 'ID',
            //sortName:'id',
            //height: 520,
            pagination: true,
            ajaxOptions: "ajaxOptions",
            inlineEditing: true,
            virtualScroll: true,
            height: 600,
            //showColumns: true,
            //showToggle: true,
            //showPaginationSwitch: true,
            //showRefresh: true,
            search: true,

            clickToSelect: true,
            singleSelect: true,
            onPageChange: function (currentPage, pageSize) {
                console.log("目前頁數:" + currentPage + ",一頁顯示:" + pageSize + "筆");
            },
            pageSize: 10,
            pageList: [10, 20, 50, 100],
            onLoadSuccess: function (data) {
            },
            onLoadError: function (res) {
            },
            formatRecordsPerPage: function (pageSize) {
                return '&nbsp;&nbsp;每頁顯示' + pageSize + '筆';
            },
            formatShowingRows: function (fromIndex, toIndex, totalSize) {
                var currentPage = Math.ceil(fromIndex / this.pageSize);
                var totalPageCount = Math.ceil(totalSize / this.pageSize);
                return '第' + currentPage + '頁&nbsp;&nbsp;共' + totalPageCount + '頁' + '總共' + totalSize + '筆資料';
            }

        });
    }
    function openFileUpload(x) {
        $('#CertiFileUpload').val('');
        $('#CertiZipUpload').val('');
        $('#CertiUploadName').html('')
        $('#ZipUploadName').html('')

        getCertiZipName();

        $('#' + x).modal('show');
    }
    function getCertiZipName() {
        $('#maindiv').jqLoading();
        $.getJSON("/CliInfo/GetCertiZipName").done(function (data) {
            $("#sele_CertiZip").empty();
            $("#sele_CertiZip").append($("<option>").val('0').text('請選擇'))
            $.each(data, function (i, item) { $("#sele_CertiZip").append($("<option>").val(item.zipName).text(item.zipName)) });

            $('#maindiv').jqLoading("destroy");
        })
    }

    //button event
    //檢視編輯-------
    function Edit(CliID) {
        //清空資料
        $('#txtCli_ChiName_Last').val(''); $('#txtCli_ChiName_First').val(''); $('#txtCli_EngName_Last').val(''); $('#txtCli_EngName_First').val('');
        $('#sele_Gender').val('0'); $('#txtCli_ID_Num').val(''); $('#txtCli_PassPort').val(''); $('#txtCli_BirthDay').val(''); $('#sele_Census_Country').val('0');
        $('#txtCli_Phone_site').val(''); $('#txtCli_Phone').val(''); $('#txtCli_Email').val(''); $('#txtCli_Live_Addr').val(''); $('#txtCli_Eng_Addr').val(''); $('#txtCli_PostalCode').val('');

        //查詢詳細顧問資料
        var obj =
        {
            CliID: $.trim(CliID)
        }
        $('#maindiv').jqLoading();
        $.getJSON("/CliInfo/GetCliInfoByID", obj).done(function (data) {
            //填入資料
            $('#txtCli_ChiName_Last').val($.trim(data[0].Cli_ChiNAME_Last)); $('#txtCli_ChiName_First').val($.trim(data[0].Cli_ChiNAME_First));
            $('#txtCli_EngName_Last').val($.trim(data[0].Cli_EngNAME_Last)); $('#txtCli_EngName_First').val($.trim(data[0].Cli_EngNAME_First));
            $('#sele_Gender').val(data[0].Cli_Gender); $('#txtCli_ID_Num').val($.trim(data[0].Cli_ID_Num)); $('#txtCli_PassPort').val($.trim(data[0].Cli_PassPort));
            $('#txtCli_BirthDay').datepicker("setDate", data[0].Cli_BirthDay_new); $('#sele_Census_Country').val(data[0].Cli_Census_Country);
            $('#txtCli_Phone_site').val($.trim(data[0].Cli_Phone_site)); $('#txtCli_Phone').val($.trim(data[0].Cli_Phone)); $('#txtCli_Email').val($.trim(data[0].Cli_Email));
            $('#txtCli_Live_Addr').val($.trim(data[0].Cli_Live_Address)); $('#txtCli_Eng_Addr').val($.trim(data[0].Cli_Eng_Address)); $('#txtCli_PostalCode').val($.trim(data[0].Cli_PostalCode)); 

            $('#maindiv').jqLoading("destroy");
            $('#myModalForEdit').modal('show');

        })
    }
    function SubmitEdit() {
        var obj = {};
        obj.Cli_ID = Cli_ID
        obj.Cli_ChiNAME_Last = $('#txtCli_ChiName_Last').val();
        obj.Cli_ChiNAME_First = $('#txtCli_ChiName_First').val();
        obj.Cli_EngNAME_Last = $('#txtCli_EngName_Last').val();
        obj.Cli_EngNAME_First = $('#txtCli_EngName_First').val();
        obj.Cli_Gender = $('#sele_Gender').val();
        obj.Cli_ID_Num = $('#txtCli_ID_Num').val();
        obj.Cli_PassPort = $('#txtCli_PassPort').val();
        obj.Cli_BirthDay = $('#txtCli_BirthDay').val();
        obj.Cli_Census_Country = $('#sele_Census_Country').val();
        obj.Cli_Phone_site = $('#txtCli_Phone_site').val();
        obj.Cli_Phone = $('#txtCli_Phone').val();
        obj.Cli_Email = $('#txtCli_Email').val();
        obj.Cli_Live_Address = $('#txtCli_Live_Addr').val();
        obj.Cli_Eng_Address = $('#txtCli_Eng_Addr').val(); 
        obj.Cli_PostalCode = $('#txtCli_PostalCode').val(); 
        obj.LoginACCOUNT = userAccount;
        $('#maindiv').jqLoading();
        var options = {};
        options.url = "/CliInfo/SaveCliInfo";
        options.type = "POST";
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        options.success = function (data) {
            if (data == 1) {
                loadData();
                //alert('修改成功!');
                swal("修改成功!", "", "success")
            } else {
                //alert('修改失敗!');
                sweetAlert("修改失敗!", "", "error");
            }
            $('#maindiv').jqLoading("destroy");
        };
        options.error = function () {
            //alert('修改失敗!');
            sweetAlert("修改失敗!", "", "error");
            $('#maindiv').jqLoading("destroy");
        };
        $.ajax(options);
    }
    //----------------------------------
    //證件資料------------------------
    function Credentials(CliID, CliROLE) {
        var apiURL = "/CliInfo/GetCredentialsByID/";
        $("#theTableCredentials").bootstrapTable('destroy');
        $("#theTableCredentials").bootstrapTable({
            columns: [
                { field: 'Name', title: '證件', align: 'center', halign: 'center', visible: true, sortable: true },
                {
                    field: 'IsHave',
                    title: '缺件狀態',
                    formatter: function (value, row, index) {
                        if (value == "True")
                            value = "V";
                        else
                            value = "X";
                        return value
                    },
                    halign: 'center',
                    align: 'center',
                    visible: true
                },
                {
                    field: 'edit',
                    title: '動作',
                    formatter: function (value, row, index) {

                        var value = '<div class="btn-group"><button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">查看</button>'
                        value += '<div class="dropdown-menu">'
                        value += '<a class="dropdown-item" onclick="downloadss(\'' + $.trim(row.fileName) + '\')" >檢視檔案</a>'
                        value += '<a class="dropdown-item" onclick="updateStatus(\'' + $.trim(row.ID) + '\',\'' + row.IsHave + '\',\'' + CliROLE + '\')" >狀態修改</a>'
                        value += '<a class="dropdown-item" onclick="upload(\'' + $.trim(row.ID) + '\',\'' + $.trim(row.fileName) + '\',\'' + CliROLE + '\')" >上傳檔案</a>'
                        value += '</div></div>'

                        return value

                        //value = '<ul class="actions"><li><a class="btn btn-light"  onclick="downloadss(\'' + $.trim(row.fileName) + '\')" >檢視檔案</a></li>'
                        //value += '<li><a class="btn btn-light" onclick="updateStatus(\'' + $.trim(row.ID) + '\',\'' + row.IsHave + '\',\'' + CliROLE + '\')" >狀態修改</a></li>'
                        //value += '<li><a class="btn btn-light" onclick="upload(\'' + $.trim(row.ID) + '\',\'' + $.trim(row.fileName) + '\',\'' + CliROLE + '\')" >上傳檔案</a></li></ul>'
                        //return value

                        //var value = '<button type = "button" onclick="download(\'' + $.trim(row.fileName) + '\')"  class="btn btn-default btnDelay">檢視檔案</button >';
                        //value += '<button type = "button" onclick="updateStatus(\'' + $.trim(row.ID) + '\',\'' + row.IsHave + '\',\'' + CliROLE + '\')"  class="btn btn-default btnDelay">狀態修改</button >';
                        //value += '<button type = "button" onclick="upload(\'' + $.trim(row.ID) + '\',\'' + $.trim(row.fileName) + '\',\'' + CliROLE + '\')"  class="btn btn-default btnDelay">上傳檔案</button >';
                        //return value
                    },
                    halign: 'center',
                    align: 'center',
                    visible: IsAuth_2
                }
            ],
            classes: 'table table-striped table-hover ',
            url: apiURL,
            method: "Get",
            queryParams: { CliID: CliID, CliROLE: CliROLE },
            dataType: "json",
            contentType: 'application/json,charset=utf-8',
            toolbar: "#toolbar",
            uniqueId: 'ID',
            //sortName:'id',
            //height: 520,
            pagination: true,
            ajaxOptions: "ajaxOptions",
            inlineEditing: true,
            virtualScroll: true,
            height: "auto",
            //showColumns: true,
            //showToggle: true,
            //showPaginationSwitch: true,
            //showRefresh: true,
            search: true,

            clickToSelect: true,
            singleSelect: true,
            onPageChange: function (currentPage, pageSize) {
                console.log("目前頁數:" + currentPage + ",一頁顯示:" + pageSize + "筆");
            },
            pageSize: 10,
            pageList: [10, 20, 50, 100],
            onLoadSuccess: function (data) {
                $('#myModalForCredentials').modal('show');
            },
            onLoadError: function (res) {
            },
            formatRecordsPerPage: function (pageSize) {
                //return '&nbsp;&nbsp;每頁顯示' + pageSize + '筆';
            },
            formatShowingRows: function (fromIndex, toIndex, totalSize) {
                var currentPage = Math.ceil(fromIndex / this.pageSize);
                var totalPageCount = Math.ceil(totalSize / this.pageSize);
                //return '第' + currentPage + '頁&nbsp;&nbsp;共' + totalPageCount + '頁' + '總共' + totalSize + '筆資料';
            }
        });
    }
    function downloadss(fileName) {
        if (fileName == "") {
            //alert('該證件無檔案!')
            sweetAlert("該證件無檔案!", "", "warning");
            return;
        }
        $("#download_a").attr("href", "/CliInfo/Open?FileName=" + fileName + "&Cli_ID=" + Cli_ID);
        document.getElementById("download_a").click()
    }
    function updateStatus(ID, IsHave, CliROLE) {
        var obj = {};
        obj.Cli_ID = Cli_ID;
        obj.ID = ID;
        obj.IsHave = IsHave;
        obj.LoginACCOUNT = userAccount;
        $('#maindiv').jqLoading();
        var options = {};
        options.url = "/CliInfo/UpdateCredentialStatus";
        options.type = "POST";
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        options.success = function (data) {
            if (data == 1) {
                Credentials(Cli_ID, CliROLE)
                //alert('修改成功!');
                swal("修改成功!", "", "success")
            } else {
                //alert('修改失敗!');
                sweetAlert("修改失敗!", "", "error");
            }
            $('#maindiv').jqLoading("destroy");
        };
        options.error = function () {
            //alert('修改失敗!');
            sweetAlert("修改失敗!", "", "error");
            $('#maindiv').jqLoading("destroy");
        };
        $.ajax(options);
    }
    function upload(ID, fileName, CliROLE) {
        CredentialID = ID
        CredentialOriName = fileName
        CliROLE = CliROLE
        $('#fileUploadName').html('')
        $('#fileUpload').val('');
        $('#myModalForUpload').modal('show');
    }
    function SubmitUpload() {
        var files = document.getElementById("fileUpload").files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("UploadFile", files[x]);
                }
                //## 透過ajax方式Post 至Action
                $('#maindiv').jqLoading();
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/CliInfo/UploadFile?Cli_ID=" + Cli_ID + "&CredentialID=" + CredentialID + "&OriFileName=" + CredentialOriName + "&LoginACCOUNT=" + userAccount,
                    contentType: false,         // 告诉jQuery不要去這置Content-Type
                    processData: false,         // 告诉jQuery不要去處理發送的數據
                    dataType: "json",
                    data: data
                })
                    .done(function (data) {
                        if (data.isUploaded) {
                            Credentials(Cli_ID, CliROLE)
                            $('#myModalForUpload').modal('hide');
                            //alert(data.result)
                            swal("上傳成功!", "", "success")
                        } else {
                            //alert(data.result)
                            sweetAlert("上傳失敗!", data.result, "error");
                        }
                        $('#maindiv').jqLoading("destroy");
                    })
                    .fail(function () {
                        //alert("系統發生錯誤");
                        sweetAlert("系統發生錯誤!", "", "error");
                        $('#maindiv').jqLoading("destroy");
                    });
            }
        } else {
            //alert('請選擇檔案')
            sweetAlert("請選擇檔案!", "", "warning");
            return;
        }
    }
    //--------------------------------
    //壓縮檔上傳---------------------
    function SubmitCertiZipUpload() {
        var files = document.getElementById("CertiZipUpload").files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("UploadFile", files[x]);
                }
                //## 透過ajax方式Post 至Action
                $('#maindiv').jqLoading();
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/CliInfo/UploadCertiZip",
                    contentType: false,         // 告诉jQuery不要去這置Content-Type
                    processData: false,         // 告诉jQuery不要去處理發送的數據
                    dataType: "json",
                    data: data
                })
                    .done(function (data) {
                        if (data.isUploaded) {
                            $('#myModalForCertiZipUpload').modal('hide');
                            //alert(data.result)
                            swal("上傳成功!", "", "success")
                        } else {
                            //alert(data.result)
                            sweetAlert("上傳失敗!", data.result, "error");
                        }
                        $('#maindiv').jqLoading("destroy");
                    })
                    .fail(function () {
                        //alert("系統發生錯誤");
                        sweetAlert("系統發生錯誤!", "", "error");
                        $('#maindiv').jqLoading("destroy");
                    });
            }
        } else {
            //alert('請選擇檔案')
            sweetAlert("請選擇檔案!", "", "warning");
            return;
        }
    }
    //-------------------------------
    //憑證發送檔上傳---------------------
    function SubmitCertiFileUpload() {
        var files = document.getElementById("CertiFileUpload").files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("UploadFile", files[x]);
                }
                //## 透過ajax方式Post 至Action
                $('#maindiv').jqLoading();
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/CliInfo/UploadCertiFile",
                    contentType: false,         // 告诉jQuery不要去這置Content-Type
                    processData: false,         // 告诉jQuery不要去處理發送的數據
                    dataType: "json",
                    data: data
                })
                    .done(function (data) {
                        if (data.isUploaded) {
                            $('#myModalForCertiFileUpload').modal('hide');
                            //alert(data.result)
                            swal("上傳成功!", "", "success")
                        } else {
                            //alert(data.result)
                            sweetAlert("上傳失敗!", data.result, "error");
                        }
                        $('#maindiv').jqLoading("destroy");
                    })
                    .fail(function () {
                        //alert("系統發生錯誤");
                        sweetAlert("系統發生錯誤!", "", "error");
                        $('#maindiv').jqLoading("destroy");
                    });
            }
        } else {
            //alert('請選擇檔案')
            sweetAlert("請選擇檔案!", "", "warning");
            return;
        }
    }
    //-------------------------------

    //憑證壓縮檔下載
    function SubmitCertiZipDownLoad() {
        var sele_CertiZip = $("#sele_CertiZip").val();
        if (sele_CertiZip == 0) {
            //alert('請選擇檔案!')
            sweetAlert("請選擇檔案!", "", "warning");
            return;
        }
        $("#download_a").attr("href", "/CliInfo/OpenCertiZip?FileName=" + sele_CertiZip);
        document.getElementById("download_a").click()
    }
</script>
