@{
    Layout = "~/Views/Shared/BackEndLayout.cshtml";
}
<div id="maindiv" class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/CH/index">首頁</a>
        </li>
        <li class="breadcrumb-item">照會</li>
        <li class="breadcrumb-item active">
            <a href="#">客戶照會紀錄</a>
        </li>
    </ul>
    <section id="title">
        <div class="title-set">
            <h4 class="title">客戶照會紀錄</h4>
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <form id="" class="search_form">
                        <div class="form-group au-form row">
                            <label for="txtCli_NO" class="col-md-3 col-form-label">客戶編號</label>
                            <div class="col-md-9">
                                <input type="text" class="" id="txtCli_NO">
                            </div>
                        </div>
                        <div class="form-group au-form row">
                            <label for="txtCli_Name" class="col-md-3 col-form-label">客戶姓名</label>
                            <div class="col-md-9">
                                <input type="text" class="" id="txtCli_Name">
                            </div>
                        </div>
                        <div class="text-right">
                            <input type="button" id="submit" class="btn btn-sm btn-primary" onclick="clicktoSearch()" value="查詢">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="form">
        <div class="overflow">
            <table class="table table-bordered table-hover" id="theTable"></table>
        </div>
    </section>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog m">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        照會內容
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" title="關閉視窗">
                        <span class="iconify" data-icon="ion:ios-close" data-inline="false"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="" class="confirm" action="" method="POST" name="">
                        <div>
                            <div id="divfile"></div>
                        </div>

                        <div id="replyContent" style="display:none">
                            <hr>
                            <h6>回覆內容</h6>
                            <div class="form-group au-form">
                                <textarea rows="6" placeholder="回覆內容" id="txtReply" name="reply" required
                                          data-error="請填寫回覆內容"></textarea>
                                <div class="help-block with-errors mt-none"></div>
                            </div>
                            <div class="form-group au-form row">
                                <label for="fileUpload1" class="col-3 col-form-label">檔案1</label>
                                <div class="col-9">
                                    <div class="file-wrapper">
                                        <div class="custom-file">
                                            <input type="file" name="upload" class="custom-file-input" id="fileUpload1">
                                            <label class="custom-file-label" for="fileUpload1" id="fileUploadName1">選擇檔案上傳</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group au-form row">
                                <label for="fileUpload2" class="col-3 col-form-label">檔案2</label>
                                <div class="col-9">
                                    <div class="file-wrapper">
                                        <div class="custom-file">
                                            <input type="file" name="upload" class="custom-file-input" id="fileUpload2">
                                            <label class="custom-file-label" for="fileUpload2" id="fileUploadName2">選擇檔案上傳</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group au-form row">
                                <label for="fileUpload3" class="col-3 col-form-label">檔案3</label>
                                <div class="col-9">
                                    <div class="file-wrapper">
                                        <div class="custom-file">
                                            <input type="file" name="upload" class="custom-file-input" id="fileUpload3">
                                            <label class="custom-file-label" for="fileUpload3" id="fileUploadName3">選擇檔案上傳</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="button" id="close" class="btn btn-sm btn-light" data-dismiss="modal" value="取消">
                    <input type="button" id="btnSendMail" class="btn btn-sm btn-primary" onclick="SendEmail()" value="發送Email">
                    <input type="button" id="btnUploadFile" class="btn btn-sm btn-primary" onclick="Submit()" value="確認">
                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="maindiv">
    <div id="div" class="col-lg-12">
        <div>
            <h2>客戶照會紀錄</h2>
        </div>
        <div class="panel panel-default" id="simpleSearch" style="padding:10px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="txtCli_NO" class="col-sm-3 control-label">客戶編號：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtCli_NO">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="txtCli_Name" class="col-sm-3 control-label">客戶姓名：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtCli_Name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-10">
                                    <div class="form-check-inline" id="funButton">
                                        <button type="button" class="btn btn-success" onclick="clicktoSearch()">查詢</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="theTable" class="table table-bordered" data-editable="true"></table>
    <div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width:50%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div>
                        <div id="divfile"></div>
                    </div>
                    <br /><br /><br /><br />

                    <div id="replyContent" style="display:none">
                        <hr />
                        <h3 class="modal-title">回覆內容</h3>
                        <textarea id="txtReply" rows="6" class="form-control"></textarea>
                        <input id="fileUpload1" type="file" />
                        <input id="fileUpload2" type="file" />
                        <input id="fileUpload3" type="file" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnUploadFile" onclick="Submit()" style="display:none">確認</button>
                    <button type="button" class="btn btn-primary" id="btnSendMail" onclick="SendEmail()" style="display:none">發送Email</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>*@
<script>
    //權限設定
    var userRole = readCookie('userRole');
    var userAccount = readCookie('userAccount');
    var IsAuth_20 = false;
    if (userAccount == 'BW') {
        IsAuth_20 = true;
    } else if (userRole != null && userRole != '' && userRole != undefined) {
        var obj =
        {
            ROLE_ID: userRole
        }
        $.getJSON("/Account/GetRoleAuth", obj).done(function (data) {
            if (data[0].Auth_19 != "True") { //如果沒檢視權限 則頁面全隱藏
                $('#maindiv').hide();
                sweetAlert("您沒有檢視權限", "", "warning");
                return;
            }
            if (data[0].Auth_20 == "True")
                IsAuth_20 = true;
        });
    }
    if (IsAuth_20 == true) {
        $('#replyContent').show();
        $('#btnUploadFile').show();
        $('#btnSendMail').show();
    }


    var Note_NO;
    var Note_Seq = 0;;
    var FileName1 = "";
    var FileName2 = "";
    var FileName3 = "";
    function clicktoSearch() {
        $('#maindiv').jqLoading();
        loadData();
        $('#maindiv').jqLoading("destroy");
    }
    function loadData() {
        var apiURL = "/NoteRecord/GetNoteRecordbyRole/";
        $("#theTable").bootstrapTable('destroy');
        $("#theTable").bootstrapTable({
            onClickRow: function (row, $data, field) {
                Note_NO = $.trim(row.Note_NO)
            },
            columns: [
                {
                    field: 'IsClosed',
                    title: '結案狀態',
                    formatter: function (value, row, index) {
                        if (value == "True")
                            value = "V";
                        else
                            value = "X";
                        return value
                    },
                    halign: 'center',
                    align: 'center',
                    visible: true
                },
                {
                    field: 'IsReply',
                    title: '回覆狀態',
                    formatter: function (value, row, index) {
                        if (value == "True")
                            value = "V";
                        else
                            value = "X";
                        return value
                    },
                    halign: 'center',
                    align: 'center',
                    visible: true
                },
                { field: 'Note_NO', title: '照會編號', align: 'center', halign: 'center', visible: true, sortable: true },
                { field: 'Source_ID', title: '顧問/客戶編號', align: 'center', halign: 'center', visible: true, sortable: true },
                { field: 'Name', title: '姓名', align: 'center', halign: 'center', visible: true, sortable: true },
                { field: 'Note_Subject', title: '主旨', align: 'center', halign: 'center', visible: true, sortable: true },
                { field: 'CREATE_DATE', title: '新增日期', align: 'center', halign: 'center', visible: true, sortable: true },
                { field: 'REPLY_DATE', title: '回覆日期', align: 'center', halign: 'center', visible: true, sortable: true },
                {
                    field: 'edit',
                    title: '動作',
                    formatter: function (value, row, index) {
                        //var value = '<button type = "button" onclick="showReply(\'' + $.trim(row.Note_NO) + '\')"  class="btn btn-default btnDelay">檢視內容並回覆</button >';

                        //if (IsAuth_20 == true) {
                        //    if (row.IsClosed != "True")
                        //        value += '<button type = "button" onclick="CloseNote(\'' + $.trim(row.Note_NO) + '\')"  class="btn btn-default btnDelay">結案</button >';
                        //}

                        var value = '<div class="btn-group"><button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">查看</button>'
                        value += '<div class="dropdown-menu">'
                        value += '<a class="dropdown-item" onclick="showReply(\'' + $.trim(row.Note_NO) + '\',\'' + $.trim(row.Note_Content) + '\',\'' + $.trim(row.REPLY_Content) + '\')" >檢視內容並回覆</a>'
                        if (IsAuth_20 == true) {
                            if (row.IsClosed != "True")
                                value += '<a class="dropdown-item" onclick="CloseNote(\'' + $.trim(row.Note_NO) + '\')">結案</a>'
                        }
                        value += '</div></div>'

                        return value

                        //var value = '<ul class="actions"><li><a class="btn btn-light" onclick="showReply(\'' + $.trim(row.Note_NO) + '\',\'' + $.trim(row.Note_Content) + '\',\'' + $.trim(row.REPLY_Content) + '\')" >檢視內容並回覆</a></li>'
                        //if (IsAuth_20 == true) {
                        //    if (row.IsClosed != "True")
                        //        value += '<li><a class="btn btn-light" onclick="CloseNote(\'' + $.trim(row.Note_NO) + '\')">結案</a></li>';
                        //}
                        //value += '</ul>'
                        //return value
                    },
                    halign: 'center',
                    align: 'center',
                    visible: true
                }
            ],
            classes: 'table table-striped table-hover ',
            url: apiURL,
            method: "Get",
            queryParams: { NO: $('#txtCli_NO').val(), Name: $('#txtCli_Name').val(), Source_Role: '0' },
            dataType: "json",
            contentType: 'application/json,charset=utf-8',
            toolbar: "#toolbar",
            uniqueId: 'ID',
            //sortName:'id',
            //height: 520,
            pagination: true,
            ajaxOptions: "ajaxOptions",
            inlineEditing: true,
            virtualScroll: true,
            height: 600,
            //showColumns: true,
            //showToggle: true,
            //showPaginationSwitch: true,
            //showRefresh: true,
            search: true,

            clickToSelect: true,
            singleSelect: true,
            onPageChange: function (currentPage, pageSize) {
                console.log("目前頁數:" + currentPage + ",一頁顯示:" + pageSize + "筆");
            },
            pageSize: 10,
            pageList: [10, 20, 50, 100],
            onLoadSuccess: function (data) {
            },
            onLoadError: function (res) {
            },
            formatRecordsPerPage: function (pageSize) {
                return '&nbsp;&nbsp;每頁顯示' + pageSize + '筆';
            },
            formatShowingRows: function (fromIndex, toIndex, totalSize) {
                var currentPage = Math.ceil(fromIndex / this.pageSize);
                var totalPageCount = Math.ceil(totalSize / this.pageSize);
                return '第' + currentPage + '頁&nbsp;&nbsp;共' + totalPageCount + '頁' + '總共' + totalSize + '筆資料';
            }

        });
    }
    function showReply(Note_NO) {
        $('#txtReply').val('');
        $('#fileUpload1').val('');
        $('#fileUpload2').val('');
        $('#fileUpload3').val('');
        $('#fileUploadName1').html('選擇檔案上傳')
        $('#fileUploadName2').html('選擇檔案上傳')
        $('#fileUploadName3').html('選擇檔案上傳')
        GetNoteRecordDetail(Note_NO);
        $('#myModal').modal('show');
    }
    function GetNoteRecordDetail(Note_NO) {
        Note_Seq = 0;
        var obj =
        {
            Note_NO: $.trim(Note_NO)
        }
        $('#maindiv').jqLoading();
        $.getJSON("/NoteRecord/GetNoteRecordDetail", obj).done(function (data) {
            var htmlString = "<table width='100%'>";
            for (var i = 0; i < data.length; i++) {
                if (data[i].IsAdminReply == "True") {
                    htmlString += '<tr><td width="50%"></td><td width="50%"><div><h4 class="modal-title">回覆內容</h4>'
                } else if (data[i].IsAdminReply == "False") {
                    htmlString += '<tr><td width="50%"><div><h4 class="modal-title">內容</h4>'
                } else {
                    continue;
                }
                htmlString += '<label class="control-label">日期時間:' + data[i].CREATE_DATE + '</label></br>'
                htmlString += '<textarea readonly>' + data[i].Note_Content + '</textarea>'
                if (data[i].Note_FileName1 != null && $.trim(data[i].Note_FileName1) != "")
                    htmlString += '<a style="color:cornflowerblue" href="/NoteRecord/Open?FileName=' + $.trim(data[i].Note_FileName1) + '&Note_NO=' + $.trim(data[i].Note_NO) + '&SeqNo=' + $.trim(data[i].SeqNo) + '">' + $.trim(data[i].Note_FileName1) + '</a></br>';
                if (data[i].Note_FileName2 != null && $.trim(data[i].Note_FileName2) != "")
                    htmlString += '<a style="color:cornflowerblue" href="/NoteRecord/Open?FileName=' + $.trim(data[i].Note_FileName2) + '&Note_NO=' + $.trim(data[i].Note_NO) + '&SeqNo=' + $.trim(data[i].SeqNo) + '">' + $.trim(data[i].Note_FileName2) + '</a></br>';
                if (data[i].Note_FileName3 != null && $.trim(data[i].Note_FileName3) != "")
                    htmlString += '<a style="color:cornflowerblue" href="/NoteRecord/Open?FileName=' + $.trim(data[i].Note_FileName3) + '&Note_NO=' + $.trim(data[i].Note_NO) + '&SeqNo=' + $.trim(data[i].SeqNo) + '">' + $.trim(data[i].Note_FileName3) + '</a></br>';

                if (data[i].IsAdminReply == "True") {
                    htmlString += '</br></br></div></td></tr>'
                } else if (data[i].IsAdminReply == "False") {
                    htmlString += '</br></br></div></td><td width="50%"></td></tr>'
                }
                Note_Seq = data[i].SeqNo;
            }
            htmlString += '</table>'

            Note_Seq = eval(Note_Seq) + 1;
            FileName1 = '';
            FileName2 = '';
            FileName3 = '';
            $('#fileUpload1').val('');
            $('#fileUpload2').val('');
            $('#fileUpload3').val('');
            $('#fileUploadName1').html('選擇檔案上傳')
            $('#fileUploadName2').html('選擇檔案上傳')
            $('#fileUploadName3').html('選擇檔案上傳')

            $('#divfile').html(htmlString);

            $('#maindiv').jqLoading("destroy");
        })
    }
    function Submit() {
        var obj = {};
        obj.Note_NO = Note_NO
        obj.ReplyContent = $('#txtReply').val();
        obj.FileName1 = FileName1;
        obj.FileName2 = FileName2;
        obj.FileName3 = FileName3;
        obj.newNote_Seq = Note_Seq;
        obj.LoginACCOUNT = userAccount;
        $('#maindiv').jqLoading();
        var options = {};
        options.url = "/NoteRecord/SaveNoteReply";
        options.type = "POST";
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        options.success = function (data) {
            if (data == 1) {
                GetNoteRecordDetail(Note_NO);//更新照會
                //alert('內容儲存成功!');
                swal("內容儲存成功!", "", "success")
            } else {
                GetNoteRecordDetail(Note_NO);//更新照會
                //alert('內容儲存失敗!');
                sweetAlert("內容儲存失敗!", "", "error");
            }
            $('#maindiv').jqLoading("destroy");
        };
        options.error = function () {
            GetNoteRecordDetail(Note_NO);//更新照會
            //alert('內容儲存失敗!');
            sweetAlert("內容儲存失敗!", "", "error");
            $('#maindiv').jqLoading("destroy");
        };
        $.ajax(options);
    }
    function CloseNote(Note_NO) {
        var obj = {};
        obj.Note_NO = Note_NO;
        obj.LoginACCOUNT = userAccount;
        $('#maindiv').jqLoading();
        var options = {};
        options.url = "/NoteRecord/CloseNoteRecord";
        options.type = "POST";
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        options.success = function (data) {
            if (data == 1) {
                loadData();
                //alert('結案成功!');
                swal("結案成功!", "", "success")
            } else {
                //alert('結案失敗!');
                sweetAlert("結案失敗!", "", "error");
            }
            $('#maindiv').jqLoading("destroy");
        };
        options.error = function () {
            //alert('結案失敗!');
            sweetAlert("結案失敗!", "", "error");
            $('#maindiv').jqLoading("destroy");
        };
        $.ajax(options);
    }

    //## 按下上傳按鈕觸發
    $('#fileUpload1').on('change', function (e) {
        var files = e.target.files;
        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("UploadFile", files[x]);
                }
                //## 透過ajax方式Post 至Action
                $('#maindiv').jqLoading();
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/NoteRecord/UploadFile?Note_NO=" + Note_NO + "&Note_Seq=" + Note_Seq,
                    contentType: false,         // 告诉jQuery不要去這置Content-Type
                    processData: false,         // 告诉jQuery不要去處理發送的數據 
                    dataType: "json",
                    data: data
                })
                    .done(function (data) {
                        if (data.isUploaded) {
                            FileName1 = data.filename
                            //alert(data.result)
                            swal("上傳成功!", "", "success")
                        } else {
                            //alert(data.result)
                            sweetAlert("上傳失敗!", data.result, "error");
                        }
                        $('#maindiv').jqLoading("destroy");
                    })
                    .fail(function () {
                        //alert("系統發生錯誤");
                        sweetAlert("系統發生錯誤!", "", "error");
                        $('#maindiv').jqLoading("destroy");
                    });
            }
        }
    });
    $('#fileUpload2').on('change', function (e) {
        var files = e.target.files;
        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("UploadFile", files[x]);
                }
                //## 透過ajax方式Post 至Action
                $('#maindiv').jqLoading();
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/NoteRecord/UploadFile?Note_NO=" + Note_NO + "&Note_Seq=" + Note_Seq,
                    contentType: false,         // 告诉jQuery不要去這置Content-Type
                    processData: false,         // 告诉jQuery不要去處理發送的數據 
                    dataType: "json",
                    data: data
                })
                    .done(function (data) {
                        if (data.isUploaded) {
                            FileName2 = data.filename
                            //alert(data.result)
                            swal("上傳成功!", "", "success")
                        } else {
                            //alert(data.result)
                            sweetAlert("上傳失敗!", data.result, "error");
                        }
                        $('#maindiv').jqLoading("destroy");
                    })
                    .fail(function () {
                        //alert("系統發生錯誤");
                        sweetAlert("系統發生錯誤!", "", "error");
                        $('#maindiv').jqLoading("destroy");
                    });
            }
        }
    });
    $('#fileUpload3').on('change', function (e) {
        var files = e.target.files;
        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("UploadFile", files[x]);
                }
                //## 透過ajax方式Post 至Action
                $('#maindiv').jqLoading();
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/NoteRecord/UploadFile?Note_NO=" + Note_NO + "&Note_Seq=" + Note_Seq,
                    contentType: false,         // 告诉jQuery不要去這置Content-Type
                    processData: false,         // 告诉jQuery不要去處理發送的數據 
                    dataType: "json",
                    data: data
                })
                    .done(function (data) {
                        if (data.isUploaded) {
                            FileName3 = data.filename
                            //alert(data.result)
                            swal("上傳成功!", "", "success")
                        } else {
                            //alert(data.result)
                            sweetAlert("上傳失敗!", data.result, "error");
                        }
                        $('#maindiv').jqLoading("destroy");
                    })
                    .fail(function () {
                        //alert("系統發生錯誤");
                        sweetAlert("系統發生錯誤!", "", "error");
                        $('#maindiv').jqLoading("destroy");
                    });
            }
        }
    });


    function SendEmail() {
        var obj = {};
        obj.Note_NO = Note_NO
        obj.ReplyContent = $('#txtReply').val();
        obj.LoginACCOUNT = userAccount;
        $('#maindiv').jqLoading();
        var options = {};
        options.url = "/NoteRecord/SendNoteReply";
        options.type = "POST";
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";
        options.success = function (data) {
            if (JSON.parse(data).result) {
                loadData();
            }
            //alert(JSON.parse(data).message);
            swal(JSON.parse(data).message)
            $('#maindiv').jqLoading("destroy");
        };
        options.error = function () {
            //alert('發送失敗!');
            sweetAlert("發送失敗!", "", "error");
            $('#maindiv').jqLoading("destroy");
        };
        $.ajax(options);
    }
</script>
